


<div class="app-account-menu">
  <div class="logo"></div>
 <div class="text">Responsible Gambling</div>

</div>

<div class="container">
  <ul class="menu">
    <li class="menu-element"  routerLinkActive="active">
      <a routerLink="/control/approach">Our Approach</a>
    </li>
    <li class="menu-element"  routerLinkActive="active">
      <a routerLink="/control/policy">Our Policy</a>
    </li>
    <li class="menu-element"  routerLinkActive="active">
     <a routerLink="/control/helping">Helping You Stay in Control</a>
    </li>
    <li class="menu-element"  routerLinkActive="active">
     <a routerLink="/control/spending">Spending Controls</a>
    </li>
    <li class="menu-element"  routerLinkActive="active">
     <a routerLink="/control/timeout">Time Out and Self-Exclusion</a>
    </li>
    <li class="menu-element"  routerLinkActive="active">
     <a routerLink="/control/account-safety">Account Safety and Terms and Conditions</a>
    </li>
    <li class="menu-element"  routerLinkActive="active">
     <a routerLink="/control/other-sources">Other Sources of Help</a>
    </li>
    <li class="menu-element"  routerLinkActive="active">
     <a routerLink="/control/gamstop">What is Gamstop</a>
    </li>
    <li class="menu-element"  routerLinkActive="active">
     <a routerLink="/control/gamcare">Gamcare Certifed</a>
    </li>
  </ul>


  <router-outlet></router-outlet>

</div>

