


<div class="container">
  <h3>HELPING YOU STAY IN CONTROL</h3>
  <br>
  Whilst the majority of people do gamble safely and responsibly,
     for some, gambling can become a problem. When gambling, always remember the following
     <br>
     <br>
  <li>
    Gambling should be entertaining and fun and not seen as a way of making money
  </li>
  <li>
   Only gamble what you can afford to lose
  </li>
  <li>
    Avoid chasing losses
  </li>
  <li>
    Keep track of the time and amount you spend gambling
  </li>
  <br>
  If you are concerned about your gambling, then honestly
    answering the questions below may give you an idea of whether your gambling is problematic:
  <br>
  <br>
    <li>
      Do you stay away from work, college or school to gamble?
    </li>
    <li>
      Do you gamble to escape from a boring or unhappy life?
    </li>
    <li>
      When gambling and you run out of money,
        do you feel lost and in despair and need to gamble again as soon as possible?
    </li>
    <li>
      Do you gamble until your last penny is gone, even the fare home or the cost of a cup of tea?
    </li>
    <li>
      Have you ever lied to cover up the amount of money or time you have spent gambling?
    </li>
    <li>
      Have others ever criticised your gambling?
    </li>
    <li>
      Have you lost interest in your family, friends or hobbies?
    </li>
    <li>
      Do arguments, frustrations or disappointments make you want to gamble?
    </li>
    <li>
      Do you feel depressed or even suicidal because of your gambling?
    </li>
    <br>
    <br>
    <p><strong>
      The more you answer 'yes' to these questions, the more likely you are to develop a gambling problem.
    </strong></p>
    <br>
    <br>
    <p>
      <strong>
        If you are concerned about your gambling, why not take an independent
         and anonymous survey to help you understand more? You can take the self-assessment provided by
         <a href="https://www.begambleaware.org/gambling-problems/do-i-have-a-gambling-problem/">BeGambleAware</a>
      </strong>
    </p>
</div>
