
.container{
  background-color: black;
  height: 300px;
  width: 100%;
  display: flex;
  align-items: center;
  border-top: 2px solid #fc0;
}

app-left{
  flex-basis: 50%;
}
app-right{
  flex-basis: 50%;
  text-align: center;
}
