
<div class="container">
  <h3>OUR APPROACH</h3>
  <p>Millions of customers around the world bet with us every year — they like the excitement of having a
    small flutter and the thrill of winning. Betting and gaming are an enjoyable, sociable and memorable
    way to spend time; that’s why it continues to be so popular. However, unfortunately,
    for a small percentage of people, gambling ceases to be entertainment and can cause personal, social,
     financial and even health problems.
  </p>
  <br>
  <br>

  <p>It is our responsibility to help our customers gamble safely and responsibly, and reduce the risk of harm
     and help people who need treatment to get it.
     <br>
     <br>
     <br>
  </p>
  <br>
  <br>
  <p>
    This is why we have developed a new, safer gambling strategy, ‘Changing for the Bettor’.
  </p>
  <br>
  <br>
  <p>
    The guiding principle of our safer gambling campaign is to be the most trusted and enjoyable betting operator in the world.
    We are putting customers at the heart of our business by ensuring they are protected from harm while enjoying their regular flutter.
    For more information about our strategy, please see our policy page.
  </p>
  <p>
    <br>
    <br>
    This page was last reviewed and updated: <strong>February 2020</strong>
  </p>
</div>
