

<div class="container">
  <h3>TIME OUT AND SELF-EXCLUSION</h3>
  <h4>Time-out or Cool-Off periods</h4>
  <br>
  <br>
  <p>blose customers can take a break from gaming at any time. These breaks can go from a day,
    1 week, 1 month or any other period up to 6 weeks.
     Once the time-out/cool-off period expires, the account will reopen automatically.</p>
     <br>
     <br>
  <h4 class="more">Self-exclusion</h4>
  <p>Self-exclusion involves a joint commitment from the customer and us. We will take reasonable
    steps to prevent the customer from re-opening their account or opening new accounts. However,
    during the period of self- exclusion; the customer
    must not attempt to re-open their account nor try to open new accounts.</p>
  <br>

  <p>Self-exclusion periods have a minimum duration of 6 months. The maximum length of the self-exclusion
    can be set to last up to 5 years; this can be extended upon customer request.</p>
  <br>
  <p>Please note that during a time-out/cool-off or self-exclusion period, customers will not
    be able to deposit funds or play.
    Also, they will be excluded from targeted commercial communication.</p>
 <p>In addition to self-exclusion, access to gambling sites can be blocked with Gamban.
   Parental control software
   like <a href="https://www.cybersitter.com/">Cybersitter</a> and <a href="https://get.netnanny.com/netnanny/?gclid=EAIaIQobChMI793Rl5iR5AIVGZ3VCh0QXgVNEAAYASAAEgLRBPD_BwE">
    NetNanny</a> can also be used to block access to gambling sites.</p>

</div>
