

<div class="container">
  <h3>OUR POLICY</h3>
  <br>
  <p>The guiding principle of our safer gambling campaign, Changing for the Bettor, is to be the most trusted
    and enjoyable
    betting operator in the world.
    This strategy is based around 7 pillars;</p>
    <br>
    <br>
    <li>
      <strong>Understanding the problem and best solutions</strong> –we have announced a five year, multi-million dollar project with the
       Division on Addiction, Cambridge Health Alliance, a Harvard Medical School teaching hospital.
    </li>
    <li>
      <strong>Educating our key stakeholders</strong>–including the national
       rollout of youth education programmes with gambling charities as well as state-school awareness campaigns.
    </li>
    <li>
      <strong>Promoting responsible attitudes</strong>
      –leading the industry in agreeing responsible marketing campaigns.
    </li>
    <li>
      <strong>Empowering customers </strong>
      –rolling out ‘markers of harm’ algorithms and additional
       safer gambling mechanisms for early detection and prevention of problem gambling.
    </li>
    <li>
      <strong>Funding treatment for those in need</strong>
      –increasing our donation to research, education and treatment on
      problem gambling ten fold, from 0.1% to 1% of gross gaming revenue (GGR).
    </li>
    <li>
      <strong>Championing responsible product design</strong>
      –developing more responsible product design principles.
    </li>
    <li>
      <strong>Drive cultural change within our business </strong>
      – ensuring that a safer gambling approach underpins all aspects of our business
    </li>
</div>
