

<div class="container">
  <h3>WHAT IS GAMSTOOP</h3>
  <p>
    <a href="https://www.gamstop.co.uk/">GAMSTOP</a>
    is the UK’s national online self-exclusion scheme. It’s a tool that prevents access to online gambling
     sites in the UK.
     GAMSTOP is run by a non-profit organisation called The National Online Self-Exclusion Scheme Limited.
  </p>
  <br>
  <br>
  <h2>What happens when someone registers with GAMSTOP</h2>
  <br>
  <br>
  <p>Consumers who register with this scheme are blocked from most online gambling sites operating in
     Great Britain (England, Scotland, Wales). The service
    offers consumers the choice to exclude from online gambling for periods of 6 months, 1 year or 5 years.</p>
  <br>
  <br>
  <h2>How does it work?</h2>
  <br>
  <br>
  <p>Personal details are logged and held by GAMSTOP, and each time there is an attempted login or registration
     using these details, the GAMSTOP database is checked.
    If there is a match the login/registration activity is blocked.</p>
  <br>
  <br>
  <p>If someone were logged into their existing account when the GAMSTOP registration completed,
     then they would be timed out within 24 hours. From that point onwards they would not be able to log in.</p>
  <br>
  <br>
  <p>If you are an existing customer and register with GAMSTOP, you will continue to receive marketing and
     promotional materials until you notify us you have registered with GAMSTOP or try to log in. This is
     because GAMSTOP is an independent scheme and we can only identify a customer has registered when they
     attempt to log in or notify us. Once we mark your account(s) as self-excluded by GAMSTOP, we will cease
     all marketing and promotional activity, and you will be unable to use any online/omnichannel services
     where a
    login is involved. Any outstanding funds in your balance will be returned via your chosen deposit method.</p>
  <br>
  <br>
  <p>It is important that you let us know if you are registered with GAMSTOP as soon as possible so that we can:</p>
  <br>
  <br>
  <ul>
  <li>freeze your account</li>
  <li>return any remaining funds to you</li>
  <li>stop sending you marketing and promotional materials</li>
</ul>
  <br>
  <br>
  <p>New customers who have signed-up with GAMSTOP will not be able to register with any of our online brands,
     including
    any multichannel products. We have updated our General T&Cs to include use of the GAMSTOP scheme.</p>


</div>
