

<div class="container">

  <div class="title">
    <h3>SPENDING CONTROLS</h3>
  </div>

  <h4>Deposit Curfew</h4>
  <br>
  <br>
  <p>
    <strong>What is Curfew?</strong>
  </p>
  <br>
  <br>
  <p>Curfew is a new feature where you’ll have the option to block yourself from depositing for set
    periods of time. It’ll allow you set and control when you can deposit choosing either specific
    days or dates, and optionally hours too.
    For example, you could block yourself from depositing on Friday or Saturday evenings.</p>
    <br>
    <br>
  <p><strong>How does the Curfew work?</strong></p>
  <p>If you feel you might be likely to bet more impulsively than usual at certain times,
    the Curfew allows you to block yourself from depositing during these periods.</p>
  <br>
  <br>
  <h5>Max Stake Limit</h5>
  <br>
  <br>
  <p>The Max Stake Limit feature allows you to decide on the highest possible amount that you can place
     per spin in slot games. However, it doesn’t limit how much you can wager on a daily, weekly,
     or monthly basis. Decreasing your maximum stake limit is instant. However, if you increase it,
     there’s a 24-hour cooling-off period. Your limit can be edited or removed at any time.</p>
  <br>

  <p class="add">To set a Max Stake Limit, please&nbsp; <a>  click here</a></p>
  <h5 class="more">Deposit limits</h5>
  <br>
  <br>
  <p>Set an individual daily, weekly and/or monthly deposit limit. All requests for limit decreases
    will be implemented immediately; requests for limit increases require
    additional information and become effective after 24hrs. To set a deposit limit, please <a>click here.</a> </p>


</div>
