
<div class="container">
  <h3>GAMCARE CERTIFED</h3>
  <p>GamCare is the leading national provider of free information,
     advice and support for anyone affected by problem gambling.</p>
  <p>GamCare provides a range of treatment services across England,
    Scotland and Wales as well as online and over the phone.</p>

  <br>
  <p class="more">We are continuously working to raise the standards in player protection and social responsibility,
    and we actively assist our customers to play responsibly.</p>
  <p class="more">As part of that effort, we’ve been GamCare Certified since January 2016. This certification acknowledges
    the implementation of the GamCare
     Player Protection Code of Practice for Remote Gambling, in GVC (Gibraltar and UK) gaming services.</p>
  <br>
  <br>
  <p class="top">To obtain<strong>GamCare Certification</strong>, we’ve implemented the following practices at GVC:</p>
  <br>
  <br>
<ul>
  <li>Know Your Customer verifications</li>
  <li>Age verification systems.</li>
  <li>Controls for customer spend</li>
  <li>Time-out and self-exclusion options for players</li>
  <li>Information about safer gambling, and sources of advice and support</li>
  <li>Training our customer services in problem gambling awareness and social responsibility</li>
  <li>Consultation with GamCare when developing new technologies and products</li>
</ul>
    <br>
    <br>
    <p>If you’d like to know more about
       GamCare Certification and find out who is GamCare Certified please
       <a href="https://www.gamcare.org.uk/our-work/for-gambling-operators/safer-gambling-standard/who-achieved-gamcare-certification?cn-reloaded=1">click here.</a></p>

</div>
