

<div class="wrap">
  <app-menu></app-menu>
  <app-nav></app-nav>
  <div class="container">
    
    <div class="helpcontact">
     <div class="border">
      <i class="fa fa-phone" aria-hidden="true"></i>
     </div> 
      <p>Help & Contact</p>
    </div>

    <div class="elements">
      <div class="live-chat">
        <i class="fa fa-commenting-o" aria-hidden="true"></i>
        <p>Live Chat <br>
          <span class="small">Hours available 24/7</span>
        </p>
        
      </div>
      <div class="email">
        <i class="fa fa-paper-plane" aria-hidden="true"></i>
        <p>Email<br>
          <span class="small-no">Hours avaaad</span>
        </p>
      </div>
      <div class="visit">
        <i class="fa fa-question" aria-hidden="true"></i>
        <p>Visit Out Help Pages</p>
      </div>
      <div class="message">
        <i class="fa fa-twitter" aria-hidden="true"></i>
        <p>Direct Message <br>
          <span class="small">on Twitter</span>
        </p>
       
      </div>
      <div class="verify">
        <i class="fa fa-upload" aria-hidden="true"></i>
        <p>Verify your details</p><br>
        <p class="bottom">Upload Documents</p>
        <button class="upload">Upload Documents</button>
      </div>
    </div>

  </div>
</div>