

<div class="container">
  <h3>OUTHER SOURCES OF HELP AND SUPPORT</h3>

    <h2>Gambling Therapy</h2>
    <img src="./../../../assets/Therapy.jpg">
    <p>Gambling Therapy provides online, multi-language, support and advice. For more information, visit
     <a href="https://www.gamblingtherapy.org/pl">GamblingTherapy.org</a></p>


     <h2>Gamblers Anonymous</h2>
     <img src="./../../../assets/GamblersAnonymous.png">
     <p>This is a fellowship of people who share their experience, strength and hope with each other so that
        they may solve their common problem and help others to recover from a gambling problem.
       You can find an A-Z international list of locations where meeting are held
        <a href="http://www.gamblersanonymous.org/ga/addresses?page=1">here</a></p>

      <h2>GamCare</h2>
      <img src="./../../../assets/GAMECARE.jpg">
      <p>If you live in the UK and need to talk to someone about problem gambling, then contact GamCare:
        GamCare is a registered charity that provides confidential telephone and online support and counselling
        to anyone affected directly or indirectly by problem gambling. The GamCare National Helpline can be
         contacted 24/7 on freephone number
        0808 8020 133 (free calls from all UK landlines and most major mobile networks). Alternatively, visit
      <a href="https://www.gamcare.org.uk/">Gamcare.org.uk</a></p>

      <h2>GAMSTOP</h2>
      <img src="./../../../assets/GAMSTOP.jpg">
      <p>GAMSTOP prevents customers from using gambling websites and apps run by companies licensed in Great Britain,
        for a period of their choosing. Please visit:
      <a href="https://www.gamstop.co.uk/">https://www.gamstop.co.uk/</a></p>

      <h2>BeGambleAware</h2>
      <img src="./../../../assets/BeGambleAware.png">
      <p>Gamble Aware offers more information on responsible gambling; please visit
      <a href="https://www.begambleaware.org/">BeGambleAware.org</a></p>


</div>
