
.advert{
  width: 100%;
  background-color: green;
  min-height: 600px;
  background-image: url('https://assets.zagranie.com/2020/03/2_Zak25C52582ady-BETGAMES-u-najwi25C42599kszego-legalne-bukmachera-w-Polsce-e1571297225867.png');
  background-size: cover;
  background-position-x: -100px;
}
