

<div class="right">
  <h4>About the company</h4>
  <p>Bet-and-Lose company was created as an idea to take all of your money.</p>
  <p> Basically we need it more. Think about it.</p>
  <p>If we take your money... We can enjoy our life. Thank you & Fuck You !!!</p>

  <div class="icons">
   <a href="https://www.facebook.com/"> <i class="fa fa-facebook-official" aria-hidden="true"></i></a>
   <a href="https://twitter.com/explore"> <i class="fa fa-twitter" aria-hidden="true"></i></a>
   <a href="https://www.youtube.com/"> <i class="fa fa-youtube-square" aria-hidden="true"></i></a>
   <a href="https://www.google.pl/"> <i class="fa fa-glide" aria-hidden="true"></i></a>
   <a href="https://www.myetherwallet.com/"> <i class="fa fa-google-wallet" aria-hidden="true"></i></a>
  </div>
</div>
