
.right{
  text-align: left;
  padding: 0 40px;
}

h4{
  color:white;
  padding: 15px 0;
}
p{
  color: gray;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 2px;
}
.icons{
  display: flex;
  color: darkgray;
  font-size: 40px;
  padding: 25px 0px 0px 0px;
}
a{
  flex-basis: 15%;
  color:white;
  cursor: pointer;
  border-left: 4px solid black;
}
a:hover {
  border-left: 4px solid #fc0;

}
i.fa{
  padding-left: 10px;
}


