

<div class="container">
  <h3>ACCOUNT SAFETY AND TERMS AND CONDITIONS</h3>
  <h2 class="more">Protection of minors</h2>
  <p>blose excludes minors (persons under the age of 18) from gambling by running identification checks
    which can require copies of various documents. We take our responsibility to prevent minors from playing
    with us seriously,
    and to offer the best possible protection we require the shared responsibility of parents.</p>
    <br>
    <br>
  <p>In addition to the safety procedures described above, you might want to consider
     Parental control software like <a href="https://www.cybersitter.com/">Cybersitter</a>
     and <a href="https://get.netnanny.com/netnanny/?gclid=EAIaIQobChMI793Rl5iR5AIVGZ3VCh0QXgVNEAAYASAAEgLRBPD_BwE">NetNanny</a>
     to block gambling sites from under 18s.</p>
    <br>
    <br>
  <p>If you know someone under the age of 18 who is registered with us, please contact us immediately.</p>
    <br>
    <br>
  <h2>Account safety</h2>
  <br>
  <br>
  <p>blose meets the highest security standards in the industry, with a five-level security system, multiple
     firewalls, and 256-bit SSL encryption. Early-warning systems in the form of limits on
    unusually high stakes and winnings prevent manipulation and other criminal activities at an early stage.</p>
  <br>
  <br>
  <p class="more">However, you can help us to increase the safety of your account even further:</p>
  <br>
  <li>Configure your computer’s auto-lock feature to protect it from unauthorised use.</li>
  <li>Keep your access details safe (user ID, password and your question and answer combination).</li>
  <li>Don't share your gambling account credentials, credit card or bank account details</li>
  <li>Don't leave the computer or device unattended when you’re logged in</li>
  <li>Do not use the 'Save password' option on log-in screens</li>
  <li>Create separate profiles for everyone who uses your computer or device, so that nobody else
     can access your information</li>
</div>
